* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 53px;
}

html {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto; 
    position: relative;;
}
.promo {
    height: 800px;
    background: url('../img/bg/bg_main.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;

}

.logo .logo_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    /* line-height: 24px; */
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    /* margin-bottom: 53px; */
}
.title {
    font-size: 41px;
    font-weight: 900;
    line-height: 24px; 
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}
h2.title {
    margin-top: 30px;
}
.simple .title_big {
    font-size: 80px;
    font-weight: 900;
    /* line-height: 0.3; */
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

.promo .promo_text span {
font-weight: 700;
color: #f9bf3b;
}

.promo .promo_btn, .bonus_for_users .bonus_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;            
}

.bonus_for_users .bonus_btn {
    margin-top: 52px;
}

.more {
    margin-top: 73px;
}

.more .more_text {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;  
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header {
    color: white;
}
.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #4a4a4a;
}
.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-size: 15px;
    font-weight: 300;
    color: #4a4a4a;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 92px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    
} 

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: justify;
    color: #4a4a4a;
}

.optimization .optimization_text span {
    font-weight: 900;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/bg_center.jpg') center center/cover no-repeat;
}
.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
   
}

.bonus_for_users {
    min-height: 628px;
    background-color: #efefef;
}

.bonus .bonus_icon {
    display: block;
    margin: 0 auto;
    padding-top: 86px;
}

.bonus .bonus_descr {
    margin-top: 42px;
    min-height: 115px;
    font-weight: 400;
    color: #252525;
    font-size: 30px;
    line-height: 1.43;
    text-align: center;
}

.first_webinar_icon .first_webinar {
    display: block;
    margin: 0 auto;
    margin-top: 89px;
    min-height: 201px;
}

.first_webinar_text {
    margin-top: 37px;
    font-weight: 400;
    font-size: 30px;
    /* line-height: 0.4; */
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.fisrt_webinar_data {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    /* line-height: 0.33; */
    text-align: center;
    color: #299cbd;
}

.first_webinar_descr {
    margin-top: 25px;
    font-weight: 400;
    font-size: 23px;
    /* line-height: 0.87; */
    text-align: center;
    color: #4a4a4a;
}

.first_webinar {
    min-height: 515px; 
}

.footer {
    min-height: 166px;
    background-color: #1a1a1a;
}

.contacts_footer {
    margin: 0 auto;
    padding-top: 61px;
    min-width: 377px;
    text-align: center;
    line-height: 1.4;
    color: #888888;
   }

.contacts_footer a {
    color: #888888;
}